.cardsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(55, 53, 53);
}

.card{
  background-color: rgb(104, 101, 101);
  box-shadow: #646cff;
  color: azure;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

button:hover {
  border-color: #c11c1c;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.trackListh1{
  background-color: rgb(55, 53, 53);
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  color: #e05b5b;
}

.nowPlaying{
  color: azure;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(55, 53, 53);
}